{:source-paths ["src-cljs"]
 :dependencies [[reagent "1.2.0"]]
 :nrepl {:port 7888}
 :dev-http {8000 "web"}
 :builds
 {:player
  {:target :browser
   :output-dir "web/assets"
   :asset-path "/assets"
   :modules {:player {:init-fn epp.player/init!}}
   :compiler-options {:source-map false}}}}
